@import '../../packages/styles/colors.scss';
@import '../../packages/styles/background.scss';

.input {
    display: block;
    padding: 8px 16px;
    line-height: 25px;
    font-weight: 500;
    font-family: inherit;
    -webkit-appearance: none;
    border: 0;
    transition: border .3s ease;
}

.formGroup {
    position: relative;
    display: flex;
    width: 100%;
    & > .span,
    .input {
        white-space: nowrap;
        display: block;
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
        &:first-child {
            border-radius: 6px 0 0 6px;
        }
        &:not(:first-child) {
            margin-left: -1px;
        }
    }
    & > .span {
        text-align: center;
        line-height: 25px;
    }
}

// Size Input
.smallInput {
    width: 20%;
    font-size: 14px;
}

.mediumInput {
    width: 40%;
    font-size: 18px;
}

.largeInput {
    width: 60%;
    font-size: 24px;
}

.fullwidthInput {
    width: 100%;
    font-size: 30px;
}

// Size Span
.smallSpan {
    padding: 4px 8px;
    font-size: 14px;
}

.mediumSpan {
    padding: 10px 14px;
    font-size: 24px;
}

.largeSpan {
    padding: 14px 18px;
    font-size: 28px;
}

.fullwidthSpan {
    padding: 24px 28px;
    font-size: 38px;
}


// Theme Input
.primaryInput {
    border-bottom: 1px solid $grey1;
    background: $backgroundInput;
    color: $grey1;
    &::placeholder {
        color: $grey2;
    }
    &:focus {
        outline: none;
        border-color: $borderInput;
    }
}

.calendarLightInput {
    border-bottom: 1px solid #263f5a;
    background: $calendarBackgroundLight;
    color: $black;
    &::placeholder {
        color: $grey1;
    }
    &:focus {
        outline: none;
        border-color: #4471a2;
    }
}

.calendarDarkInput {
    border-bottom: 1px solid #263f5a;
    background: $calendarBackgroundDark;
    color: $white;
    &::placeholder {
        color: $grey1;
    }
    &:focus {
        outline: none;
        border-color: #4471a2;
    }
}

// Theme Span
.primarySpan {
    color: $grey1;
    background: $spanBackground;
    border: 1px solid $borderSpan;
    transition: background .3s ease, border .3s ease, color .3s ease;
}

.calendarLightSpan {
    color: $white;
    background: #263f5a;
    border: 1px solid #263f5a;
    transition: background .3s ease, border .3s ease, color .3s ease;
}

.calendarDarkSpan {
    color: $white;
    background: #263f5a;
    border: 1px solid #263f5a;
    transition: background .3s ease, border .3s ease, color .3s ease;
}

// Theme FormGroup
.primaryFormGroup {
    &:focus-within {
        & > .span {
            color: $white;
            background: lighten($blue, 3%);
            border-color: lighten($blue, 3%);
        }
    }
}

.calendarLightFormGroup {
    &:focus-within {
        & > .span {
            color: $white;
            background: #4471a2;
            border-color: #4471a2;
        }
    }
}

.calendarDarkFormGroup {
    &:focus-within {
        & > .span {
            color: $white;
            background: #4471a2;
            border-color: #4471a2;
        }
    }
}
