@import "./colors.scss";
// Calendar
$calendarBackgroundDark: $darkBlueColor;
$calendarBackgroundLight: $lightYellow;
$todayBackground: $lightDarkBlue;

// Button
$primaryBackground: $blue;
$successBackground: $green;

// Border Button
$primaryBorder: $blue;
$successBorder: $green;
