@import "./colors.scss";
// Calendar
$calendarBackgroundDark: $darkBlueColor;
$calendarBackgroundLight: $lightYellow;
$todayBackground: $lightDarkBlue;
$rangeDayBackgroundLight: $blue;
$rangeDayBackgroundDark: $grey5;
$borderChooseDayDark: $sendDollar;

// Button
$primaryBackground: $blue;
$successBackground: $green;
$calendarButtonBackgroundLight: $darkOrange;
$calendarButtonBackgroundDark: $grey5;

// Border Button
$primaryBorder: $blue;
$successBorder: $green;
$calendarBorder: $darkOrange;
$calendarBorderDark: $grey5;

// Input
$backgroundInput: $white;

// Border Input
$borderInput: $blue1;

// Span Background
$spanBackground: $grey3;
$spanBackgroundFocus: $blue;

//Border Span
$borderSpan: $grey4;
$borderSpanFocus: $blue1;

//Toggle
$toggleBackground: $blue;
