$white: #fff;

$black: #000000;

$darkBlueColor: #282d3c;
$darkBlueColor1: #263f5a;
$lightDarkBlue: #949bb8;

$grey: #7a788e;
$grey1: #99A3BA;
$grey2: #CBD1DC;
$grey3: #EEF4FF;
$grey4: #CDD9ED;
$grey5: #737489;
$darkGrey: #4b4b4b;
$grey-darc-color: #919191;
$grey-light-color: #ededed;

$lightYellow: #f8f7e8;

$darkOrange: #ff8c00;

$blue: #4285f4;
$blue1: #275EFE;
$frenchBlue: #00a2ff;

$red5: #E1332D;
$darkRed: #8b0000;

$green: #13aa52;

$sendDollar: #453421;
