$white: #fff;

$black: #000000;

$darkBlueColor: #181b4c;
$lightDarkBlue: #0000ff;

$grey: #ababab;
$grey1: #99A3BA;
$grey2: #CBD1DC;
$grey3: #EEF4FF;
$grey4: #CDD9ED;
$darkGrey: #4b4b4b;
$grey-darc-color: #919191;
$grey-light-color: #ededed;

$lightYellow: #f8f7e8;

$darkOrange: #ff8c00;

$blue: #4285f4;
$blue1: #275EFE;

$red5: #E1332D;
$darkRed: #8b0000;

$green: #13aa52;
