@import "../../../packages/styles/font.scss";
@import "../../../packages/styles/background.scss";

.day {
    font-size: $f20;
    height: 50px;
}

.chooseDay {
    border: solid;
}

.today {
    background: $lightDarkBlue;
    border-radius: 50%;
}

.textDay {
    margin-top: 30%;
}
