@import "../../../packages/styles/font.scss";
@import "../../../packages/styles/background.scss";
@import "../../../packages/styles/colors.scss";

.day {
    font-size: $f20;
    height: 50px;
}

.chooseDay {
    border: solid;
}

.rangeDayLight {
    background: $rangeDayBackgroundLight;
}

.rangeDayDark {
    background: $rangeDayBackgroundDark ;
}

.todayDark {
    background: $lightDarkBlue;
    border-radius: 50%;
}

.todayLight {
    background: #66B2FF;
    border-radius: 50%;
}

.textDay {
    margin-top: 30%;
}
