@import "../../../packages/styles/colors.scss";
@import "../../../packages/styles/font.scss";

.daysName {
    display: grid;
    grid-template: 1fr /  1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.dayName {
    padding-top: 0%;
    padding-bottom: 0%;
    font-size: $f18;
}

.dark {
    color: $grey5;
}

.light {
    color: $darkGrey;
}

.dayNameText {
    margin-top: 30%;
}
