@import "../../packages/styles/background.scss";
@import "../../packages/styles/colors.scss";
@import "../../packages/styles/font.scss";
@import "../../packages/styles/font-family.scss";

.calendar {
    display: grid;
    grid-template: 0.3fr 0.3fr 0.5fr 0.1fr 0.3fr / 1fr;
    grid-template-areas:
        "monthYear"
        "daysName"
        "days"
        "darkLightMode"
        "rangeDays";
    width: 400px;
    border-radius: 4%;
    margin-left: auto;
    margin-right: auto;
    padding: 1% 1% 1% 1%;
    font-weight: $fw500;
    font-family: $baseFontFamily;
    text-align: center;
}

.dark {
    background: $calendarBackgroundDark;
    color: $white; 
}

.light {
    background: $calendarBackgroundLight;
    color: $black; 
}

.monthYear {
    display: grid;
    grid-area: monthYear;
}

.daysName {
    display: grid;
    grid-area: daysName;
}

.days {
    display: grid;
    grid-area: days;
    grid-template: 1fr / 1fr;
}

.darkLightMode {
    display: grid;
    grid-area: darkLightMode;
}

.rangeDays {
    display: grid;
    grid-area: rangeDays;
}
