@import '../../packages/styles/colors.scss';
@import '../../packages/styles/background.scss';

.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.active {
    opacity: 1;
    pointer-events: all;
}

.modalContent {
    padding: 20px;
    border-radius: 12px;
    transform: scale(0.5);
    transition: 0.4s transform;
    width: 100%;
}

.contentLight {
   /*  background-color: $calendarBackgroundLight; */
   background-color: white;
}

.contentDark {
    /* background-color: $calendarBackgroundDark; */
    background-color: white;
}

.activeContent{
    transform: scale(1);
}
